<mat-card *ngFor="let box of dataSource.data" class="box-card">
  <mat-card-header>
    <mat-card-title>{{ box.nom }}</mat-card-title>
    <mat-card-subtitle>Quantité : {{ box.quantite }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Description : {{ box.description }}</p>
    <p>Coordonnées géographiques : {{ box.point_geo }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button class="btn" *ngIf="authService.getUser() !== null" (click)="goToEdit(box.id)">Modifier</button>
    <button class="btn" *ngIf="authService.getUser() !== null" (click)="book(box.id)">Réserver</button>
  </mat-card-actions>
</mat-card>
