<table>
  <thead>
  <tr>
    <th>Nom</th>
    <th>Quantité</th>
    <th>Description</th>
    <th>Point Géo</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let box of Boxes" (click)="selectItem(box)">
    <td>{{ box.nom }}</td>
    <td>{{ box.quantite }}</td>
    <td>{{ box.description }}</td>
    <td>{{ box.point_geo }}</td>
  </tr>
  </tbody>
</table>


<p>Élément sélectionné : {{ selectedItem?.nom }}</p>
<!-- Formulaire qui s'affiche uniquement si un élément est sélectionné -->
<app-formulaire *ngIf="selectedItem" [item]="selectedItem"></app-formulaire>
