<div *ngIf="item">
  <h2>Détails de la boîte sélectionnée</h2>
  <form>
    <label for="nom">Nom:</label>
    <input type="text" id="nom" [(ngModel)]="item.nom" disabled>
    <br>

    <label for="quantite">Quantité:</label>
    <input type="number" id="quantite" [(ngModel)]="item.quantite" disabled>
    <br>

    <label for="description">Description:</label>
    <textarea id="description" [(ngModel)]="item.description" disabled></textarea>
    <br>

    <label for="point_geo">Point Géo:</label>
    <input type="text" id="point_geo" [(ngModel)]="item.point_geo" disabled>
  </form>
</div>
