<nav class="navbar">
  <div class="elementNavbar">
    <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
      <mat-icon class="large-icon">home</mat-icon> Home
    </a>
  </div>
  <div class="elementNavbar">
    <a routerLink="/boite-a-livres" routerLinkActive="active" ariaCurrentWhenActive="page">
      <mat-icon class="large-icon">book</mat-icon> Boites à livre
    </a>
  </div>
  <div class="elementNavbar">
    <a routerLink="/map" routerLinkActive="active" ariaCurrentWhenActive="page">
      <mat-icon class="large-icon">map</mat-icon> Carte
    </a>
  </div>
  <div class="elementNavbar" *ngIf="!userIsConnected()">
    <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">
      <mat-icon class="large-icon">login</mat-icon> Connexion
    </a>
  </div>
  <div class="elementNavbar" *ngIf="userIsConnected()" (click)="disconnect()">
    <a>
      <mat-icon class="large-icon">logout</mat-icon> Déconnexion
    </a>
  </div>
</nav>
