.navbar {
  display: flex;
  justify-content: space-evenly;
  background-color: beige;
  overflow: hidden;
  padding: 3rem 2rem;
}

.elementNavbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.elementNavbar a {
  display: flex;
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  align-items: center;
  line-height: 20px;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.elementNavbar a:hover {
  color: red;
}

.elementNavbar:active {
  transform: translate(3px);
}

.elementNavbar mat-icon {
  font-size: 2.3rem;
  margin: 10px;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
