.navbar{
  display: flex;
  justify-content: center;
  gap: 15%;
  background-color: beige;
  padding: 2rem;
  overflow: hidden;
}

.navbar a {
  display: flex;
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  align-items: center;
  line-height: 20px;
}

.elementNavbar a{
  transition: color 0.5s, transform 0.2s, background-color 0.2s;
  padding: 0.5rem;
  cursor: pointer;
  font-family: OCR A Std, monospace;
}

.elementNavbar a:hover {
  color: red;
}

.elementNavbar:active {
  transform: translate(3px);
}

.large-icon {
  font-size: 2rem;
  overflow: visible;
  align-items: center;
  margin-right: 10px;
  vertical-align: middle; /* Ajoutez cette ligne pour centrer verticalement */
}
