<mat-card class="box-card">
  <mat-card-title>Créer une réservation</mat-card-title>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Quantité</mat-label>
        <input matInput [(ngModel)]="quantity" type="number" name="quantity" required />
      </mat-form-field>

      <button class="btn" type="submit">Réserver</button>
    </form>


    <div *ngIf="successMessage" class="success-message">
      {{ successMessage }}
    </div>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </mat-card-content>
</mat-card>




